            <header class="align-content-center">
                <h4 class="drink-title"> Drink Title</h4>
            </header>





            <div class="container">
                <div class="card" style="width: 18rem;"> 
                  {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                    <div class="card-body">
                        <h5 class="card-title">Ingredients:</h5>
                        <div class="col-lg-6">
                            <div class="drink-ingredients">

                            </div>
                            
                        </div>
                    </div>
                </div>
 
  <div class="container">
                <div class="card" style="width: 18rem;"> 
                  {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                    <div class="card-body">
                        
                        <div class="col-lg-6">
                            <img class="drink-image">
                         
                            
                        </div>
                    </div>
                </div>
{{!-- 
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="drink-ingredients">

                            </div>
                        </div> --}}

                        <div class="col-lg-6">
                            <div class="card" style="width: 18rem;"> 
                              {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                                <div class="card-body">
                                    <h5 class="card-title">Instructions:</h5>
                                    <p class="card-instruction-text"></p>




                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" id="save-drink" class="btn btn-primary btn-sm btn-block">Save Cocktail</button>
                    <p>Your Saved Drinks will appear on your account page</p>
                </div>

                <script src="/js/drinkIndividual.js"></script>