
<div class="jumbotron">
            <h1 class="display-4">Let's Have a Drink!</h1>
            {{#if logged_in}}
                    <div class="form-group">
                    <label for="search-form">Search for a drink:</label>
                    <input class="form-input" type="text" id="homepage-search" />
                    <button type="submit" class="btn btn-primary mb-2" id="search-btn">search</button>
                    </div>
                    {{else}}
                    <p class="lead">Sign up or login to get started.</p>
                    <div class="form-check mb-2 mr-sm-2"></div>
                    <button type="submit" class="btn btn-primary mb-2">Login or Sign-up</button>
                  {{/if}}
            
        </div>


        <!--	Cocktail of the day cards/images-->
        <div class="container">

            <div class="row">
                <div class="col-lg-6">Cocktail of the day</div>
                <div class="col-lg-6">Engineer Cocktail List</div>
            </div>
        </div>

        <!--	Side Cars-->
        <div clas="container">

            <header class="align-content-center">
                <h4>Side Car</h4>
            </header>

            <div class="row">
                <div class="col-lg-6">side car 1</div>
                <div class="col-lg-6">side car 2</div>
            </div>

        </div>
        </div>


<script src="/js/homePage.js"></script>