<header class="align-content-center">
                    <h4>Account Page</h4>
                </header>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">

                                </div>
                                <input type="text" class="form-control"
                                    placeholder="Save some notes about your Drinks!"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1"><button
                                    class="btn btn-outline-secondary" type="button" id="button-addon1">Save
                                    Note</button>
                            </div>
                        </div>
                        <div class="col-lg-6">My Cocktails
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">Cocktail Link 1</a>
                                <button class="delete-button">delete</button>
                                <a href="#" class="list-group-item list-group-item-action">Cocktail Link 2</a>
                                <button class="delete-button">delete</button>
                                <a href="#" class="list-group-item list-group-item-action">Cocktail Link 3</a>
                                <button class="delete-button">delete</button>
                                <a href="#" class="list-group-item list-group-item-action">Cocktail Link 4</a>
                                <button class="delete-button">delete</button>
                            </div>
                        </div>

                    </div>
                </div>