<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-saveddrink-form">
      <div class="form-group">
        <label for="saveddrink-name">saveddrink name:</label>
        <input class="form-input" type="text" id="saveddrink-name" name="saveddrink-name" />
      </div>
      <div class="form-group">
        <label for="saveddrink-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="saveddrink-funding" name="saveddrink-funding" />
      </div>
      <div class="form-group">
        <label for="saveddrink-desc">description:</label>
        <textarea class="form-input" id="saveddrink-desc" name="saveddrink-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if saveddrinks.length}}
  <div class="col-md-6 saveddrink-list">
    <h3>Current Projects:</h3>

    {{#each saveddrinks as |saveddrink|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/saveddrink/{{saveddrink.id}}">{{saveddrink.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{saveddrink.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
