@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300;400;500;600;700&family=Fredericka+the+Great&family=Limelight&family=Original+Surfer&family=Poiret+One&family=Special+Elite&display=swap');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');


/* header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

body {
  font-family: 'Abel', sans-serif;
  background: #7ab1db;
  animation: pulse 5s;
  color: #fff9fc;
}

@keyframes pulse {
  0% {
    background-color: #f3cd05;
  }

  100% {
    background-color: #f18904;
  }
}

header#DrinkAppHeader.display-flex.justify-space-between.align-center.p-2 {
  background-color: #f49f05;
}

h1#websiteheader {
  font-family: 'Original Surfer', cursive;
}

.jumbotron {
  background: url("https://www.publicdomainpictures.net/pictures/30000/nahled/drink-on-beach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}


.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

/* .dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */

.drink-image-home {
  max-height: 200px;
}

.drink-image-home-1 {
  max-height: 200px;
}

.drink-image-home-2 {
  max-height: 200px;
}

.drink-image-home-3 {
  max-height: 200px;
}

.drink-image-home-4 {
  max-height: 200px;
}



/* Fonts- */
/* font-family: 'Abel', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Limelight', cursive;
font-family: 'Original Surfer', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Special Elite', cursive; */