header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.drink-image-home {
  max-height: 200px;
}
.drink-image-home-1 {
  max-height: 200px;
}
.drink-image-home-2 {
  max-height: 200px;
}
.drink-image-home-3 {
  max-height: 200px;
}

.drink-image-home-4 {
  max-height: 200px;
}